<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.shizhefei.view.mvc.demo">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name="com.shizhefei.test.BaseApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.shizhefei.test.controllers.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.shizhefei.test.controllers.mvchelpers.PullrefshActivity"
            android:label="@string/app_name" />
        <activity
            android:name="com.shizhefei.test.controllers.mvchelpers.UltraActivity"
            android:label="@string/app_name" />
        <activity
            android:name="com.shizhefei.test.controllers.mvchelpers.SwipeRefreshActivity"
            android:label="@string/app_name" />
        <activity
            android:name="com.shizhefei.test.controllers.other.BookDetailActivity"
            android:label="@string/app_name" />
        <activity
            android:name="com.shizhefei.test.controllers.mvchelpers.NormalActivity"
            android:label="@string/app_name" />
        <activity
            android:name="com.shizhefei.test.controllers.other.UltraRecyclerViewActivity"
            android:label="@string/app_name" />
        <activity
            android:name="com.shizhefei.test.controllers.other.MovieDetailActivity"
            android:label="@string/app_name" />
        <activity
            android:name="com.shizhefei.test.controllers.other.Volley_OKHttp_GridViewActivity"
            android:label="@string/app_name" />
        <activity
            android:name="com.shizhefei.test.controllers.mvchelpers.CoolActivity"
            android:label="@string/app_name" />
        <activity
            android:name="com.shizhefei.test.controllers.task.LoginActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="stateVisible" />
        <activity
            android:name="com.shizhefei.test.controllers.ProxyActivity"
            android:label="@string/app_name" />
        <activity
            android:name="com.shizhefei.test.controllers.task.ListTaskActivity"
            android:label="@string/title_activity_list_task" />
        <activity
            android:name="com.shizhefei.test.controllers.task.TaskDemoActivity"
            android:label="@string/title_activity_task_demo" />
        <activity
            android:name="com.shizhefei.test.controllers.other.MultiTypeActivity"
            android:label="@string/title_activity_multi_type" />
        <activity android:name="com.shizhefei.test.controllers.task.TestNormalTaskActivity" />
        <activity android:name="com.shizhefei.test.controllers.task.TaskOpActivity" />
    </application>

</manifest>