<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.shizhefei.view.mvc.demo"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="22" />

    <application
        android:name="com.shizhefei.test.BaseApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.shizhefei.test.controllers.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.shizhefei.test.controllers.testhelpers.PullrefshActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.shizhefei.test.controllers.testhelpers.UltraActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.shizhefei.test.controllers.testhelpers.SwipeRefreshActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.shizhefei.test.controllers.other.BookDetailActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.shizhefei.test.controllers.testhelpers.NormalActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.shizhefei.test.controllers.other.UltraRecyclerViewActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.shizhefei.test.controllers.other.MovieDetailActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.shizhefei.test.controllers.other.VolleyGridViewActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.shizhefei.test.controllers.task.LoginActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="stateVisible" >
        </activity>
        <activity
            android:name="com.shizhefei.test.controllers.task.UploadActivity"
            android:label="@string/app_name" >
        </activity>
    </application>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

</manifest>